<template>
  <q-page class="row flex flex-center">
    <div
      style="height: auto"
      class="row flex flex-center"
    >
      <q-card
        class="col-11 q-ma-xl"
        style="border-radius: 10px"
        bordered
      >
        <q-form class="q-gutter-y-md q-pa-lg full-width row wrap justify-evenly items-center content-center">

          <h5 class="col-12 text-primary text-center q-ma-sm q-mt-lg text-bold">Cadastramento</h5>

          <div class="col-12 row wrap justify-evenly items-center content-center">
            <h6 class="col-12 text-primary text-left q-ma-sm">Participantes</h6>

            <q-input
              class="col-3"
              dense
              v-model="nome"
              label="Nome"
            />

            <q-input
              class="col-5"
              dense
              v-model="sobrenome"
              label="Sobrenome"
            />

            <q-btn
              @click="addParticipant(nome, sobrenome)"
              rounded
              size="md"
              padding="xs"
              icon="add"
              flat
            />
            <div class="col-10">
              <participantes
                v-for="(pessoa, index) in ListaParticipantes"
                :key="index"
                v-bind="pessoa"
                @PersonDeleted="removeParticipant"
                :index="index"
              />
            </div>
          </div>

          <div class="col-12 row wrap justify-evenly items-center content-center">
            <h6 class="col-12 text-primary text-left q-ma-sm">Salas</h6>

            <q-input
              class="col-5"
              dense
              v-model="nomeSala"
              label="Nome da sala"
            />

            <q-input
              class="col-3"
              type="Number"
              dense
              v-model="salaQtdMax"
              label="Qtd Max"
            />

            <q-btn
              @click="addRoom(nomeSala, salaQtdMax)"
              rounded
              size="md"
              padding="xs"
              icon="add"
              flat
            ></q-btn>
            <div class="col-10">
              <salas
                v-for="(sala, index) in ListaSalas"
                :key="sala.index"
                v-bind="sala"
                @RoomDeleted="removeRoom"
                :index="index"
              />
            </div>

          </div>

          <div class="col-12 row wrap justify-evenly items-center content-center">
            <h6 class="col-12 text-primary text-left q-ma-sm">Espaços de café</h6>

            <q-input
              class="col-5"
              dense
              v-model="nomeCoffeeSpace"
              label="Nome do espaço"
            />

            <q-input
              class="col-3"
              type="Number"
              dense
              v-model="CoffeeSpaceoQtdMax"
              label="Qtd Max"
            />
            <q-btn
              @click="addCoffeeSpaces(nomeCoffeeSpace, CoffeeSpaceoQtdMax)"
              rounded
              size="md"
              padding="xs"
              icon="add"
              flat
            ></q-btn>
            <div class="col-10">
              <coffeeSpaces
                v-for="(espaco, index) in ListaEspacos"
                :key="espaco.index"
                v-bind="espaco"
                @CoffeeDeleted="removeSpace"
                :index="index"
              />
            </div>

          </div>
        </q-form>
        <div class="row justify-center">
          <q-btn
            rounded
            flat
            @click="cadastrar()"
            class="col-6"
            size="md"
            color="primary"
            padding="xs"
            label="Cadastrar Evento"
          ></q-btn>
        </div>
      </q-card>

    </div>
  </q-page>
</template>

<script>
import participantes from 'components/participantes.vue'
import salas from 'components/salas.vue'
import coffeeSpaces from 'components/coffeeSpaces.vue'

import { database } from '../boot/firebase'

export default {
  components: { participantes, salas, coffeeSpaces },

  created () {
    // database.ref('users').push().set({
    //   username: 'victor hugo',
    // }).then(response => {
    //   console.log('roedei => ', response)
    // })

    // database.ref('users/list').orderByKey().once('value', snapshot => {
    //   snapshot.forEach(node => {
    //     console.log('node => ', node.val())
    //   })
    // })
  },

  data () {
    return {
      nome: null,
      sobrenome: null,
      nomeSala: null,
      salaQtdMax: null,
      nomeCoffeeSpace: null,
      CoffeeSpaceoQtdMax: null,
      ListaParticipantes: [], // Lista de participantes ({{ nome: string, sobrenome: string }})
      ListaSalas: [], // lista de salas ({nome: String, qtdMax: number})
      ListaEspacos: [] // lista de espaços de cafe: (({nome: String, qtdMax: number}))
    }
  },

  methods: {
    cadastrar () {
      this.ListaParticipantes.forEach(user => {
        database.ref('users').push().set({
          name: user.nome,
          surname: user.sobrenome
        })
      })
      this.ListaSalas.forEach(rooms => {
        database.ref('rooms').push().set({
          nome: rooms.nome,
          qtdMax: rooms.qtdMax
        })
      })
      this.ListaEspacos.forEach(spaces => {
        database.ref('coffeeSpaces').push().set({
          nome: spaces.nome,
          qtdMax: spaces.qtdMax
        })
      })
      this.ListaParticipantes = []
      this.ListaSalas = []
      this.ListaEspacos = []
    },
    addParticipant (nome, sobrenome) {
      var person = { nome: nome, sobrenome: sobrenome }
      this.ListaParticipantes.push(person)
      this.nome = null
      this.sobrenome = null
    },
    removeParticipant (index) {
      console.log(index)
      this.ListaParticipantes.splice(index, 1)
    },
    addCoffeeSpaces (nome, qtdMax) {
      var coffeeSpaces = { nome: nome, qtdMax: qtdMax }
      this.ListaEspacos.push(coffeeSpaces)
      this.nomeCoffeeSpace = null
      this.CoffeeSpaceoQtdMax = null
    },
    addRoom (nome, qtdMax) {
      var room = { nome: nome, qtdMax: qtdMax }
      this.ListaSalas.push(room)
      this.nomeSala = null
      this.salaQtdMax = null
    },
    removeRoom (index) {
      console.log(index)
      this.ListaSalas.splice(index, 1)
    },
    addSpace (nome, qtdMax) {
      var coffeeSpaces = { nome: nome, qtdMax: qtdMax }
      this.ListaEspacos.push(coffeeSpaces)
      this.CoffeeSpaceoQtdMax = null
    },
    removeSpace (index) {
      console.log(index)
      this.ListaEspacos.splice(index, 1)
    },
    onSubmit () {
      this.$axios.patch(
        'http://localhost:8080/users/me',
        {
          name: this.model
        },
        {
          headers: JSON.parse(localStorage.getItem('BearerToken'))
        }
      )
        .then((response) => console.log(response))
        .catch((error) => console.log(error))
    }
  }
}
</script>

<style lang="scss" scoped>
.animated {
  transition-delay: 0.4s;
}
</style>

